html {
    font-family: 'Open Sans', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    color: black;
    background-color: white;
}

nav {
    z-index: 2;
    position: fixed;
    display: flex;
    color: dimgray;
    background-color: black;
    height: inherit;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    top: 0;
    left: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.section h1 a {
    padding-top: 10%;
}

#icon {
    padding-top: 0%;
}

#section-inf {
    padding-top: 10%;
    padding-bottom: 10%;
}

#name {
    font-weight: 1;
    color: white;
    font-size: 2em;
    align-self: center;
    margin-left: 3%;
    margin-right: auto;
}

#links {
    align-self: center;
    margin-left: auto;
    margin-right: 3%;
    word-spacing: 1em;
    text-align: right;
}

a:link {
    color: goldenrod;
    text-decoration: none;
}

a:visited {
    color: darkgoldenrod;
}

img {
    max-width: 80%;
}

#profile-img {
    border-radius: 50%;
}

#icons {
    text-align: center;
}

#icon {
    margin: 30px;
}

h1 {
    color: dimgray;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    padding-top: 3%;
}

.section {
    clear: both;
    padding: 5%;
}

#lang-tools {
    display: flex;
}

#languages {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    vertical-align: top;
}

#tools {
    max-width: 50%;
    margin-right: auto;
    vertical-align: top;
}

.left-info {
    float: left;
    max-width: 40%;
    display: inline-block;
}

.right-info {
    float: right;
    max-width: 60%;
    display: inline-block;
    text-align: justify;
}

.full-info {
    clear: both;
    text-align: justify;
    padding-left: 5%;
}

#arrow-top {
    position: fixed;
    color: dimgray;
    bottom: 0;
    right: 0;
    margin: 5%;
}

footer {
    position: absolute;
    width: 100%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    left: 0px;
    z-index: 2;
    text-align: center;
    color: white;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

footer #icons {
    font-size: .80em;
}

.section .col {
    z-index: 1;
}

@media only screen and (max-width: 500px) {
    html {
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 15%;
    }

    nav {
        display: block;
        font-size: 0.8em;
        text-align: justify;
        text-align-last: center;
    }

    .section h1 a {
        padding-top: 40%;
    }

    #icon {
        padding-top: 0%;
    }

    #name {
        display: block;
    }

    #links {
        display: block;
        text-align: center;
    }

    .left-info {
        float: none;
        max-width: 100%;
    }

    .right-info {
        float: none;
        max-width: 100%;
    }

    #languages {
        float: none;
    }

    #tools {
        float: none;
    }

    #icon {
        padding: 0px;
        margin: 20px 10px 0px 10px;
    }

    img {
        max-width: 100%;
    }

    #arrow-top {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    html {
        margin-left: 5%;
        margin-right: 5%;
    }

    nav {
        display: block;
        font-size: 0.9em;
    }

    #name {
        display: block;
    }

    #links {
        display: block;
        text-align: center;
    }

    #arrow-top {
        padding: 3%;
    }
}

@media only screen and (max-width: 1000px) {
    html {
        margin-left: 10%;
        margin-right: 10%;
    }
}
