html {
    font-family: 'Lato', Helvetica, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 5%;
    color: black;
    background-color: whitesmoke;
}

nav {
    position: fixed;
    color: dimgray;
    background-color: white;
    min-height: inherit;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    top: 0;
    left: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

#name {
    font-size: 2em;
    float: left;
    padding-left: 3%;
    padding-right: 3%;
}

#links {
    float: right;
    padding-left: 3%;
    padding-right: 3%;
    word-spacing: 1em;
}

a:link {
    color: #00cccc;
    text-decoration: none;
}

a:visited {
    color: #00cccc;
}

a:hover {
    color: teal;
}

.section a {
    padding-top: 12%;
}

img {
    max-width: 80%;
}

#profile-img {
    border-radius: 50%;
}

h1 {
    color: #00cccc;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 1.2em;
    padding-top: 2%;
}

.section {
    clear: both;
    padding: 5%;
}

#languages {
    float: left;
    max-width: 50%;
}

#tools {
    float: right;
    max-width: 50%;
}

.left-info {
    float: left;
    max-width: 40%;
    display: inline-block;
}

.right-info {
    float: right;
    max-width: 60%;
    display: inline-block;
    text-align: justify;
}

.full-info {
    clear: both;
    text-align: justify;
}

#arrow-top {
    position: fixed;
    color: dimgray;
    bottom: 0;
    right: 0;
    margin: 5%;
}

footer {
    clear: both;
    padding-top: 5%;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    html {
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 15%;
    }

    nav {
        font-size: 0.8em;
        text-align: justify;
        text-align-last: center;
    }

    .left-info {
        float: none;
        max-width: 100%;
    }

    .right-info {
        float: none;
        max-width: 100%;
    }

    #languages {
        float: none;
    }

    #tools {
        float: none;
    }

    img {
        max-width: 100%;
    }

    .section a {
        padding-top: 40%;
    }

    #arrow-top {
        padding: 0;
    }
}

@media only screen and (max-width: 700px) {
    html {
        margin-left: 5%;
        margin-right: 5%;
    }

    nav {
        font-size: 0.9em;
    }

    #arrow-top {
        padding: 3%;
    }
}

@media only screen and (max-width: 1000px) {
    html {
        margin-left: 10%;
        margin-right: 10%;
    }
}
